<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<h1>Test#index</h1>
<p>Find me in app/views/test/index.html.erb</p>

<p>this is a ruby on rails app test</p>

<script>
$(document).ready(function() {
	
});
</script>

	
</body>
</html>